# These values will be configured as environmental values:

JIRA_PAYLOAD
OPENAI_MODEL
OPENAI_API_KEY (secret)
MAX_RETRIES
GITHUB_TOKEN (secret)
AZURE_CLIENT_ID
AZURE_TENANT_ID
AZURE_SUBSCRIPTION_ID 
AZURE_CLIENT_SECRET (secret)
TERRAFORM_INIT_FILE
TERRAFORM_VAR_FILES
